<!DOCTYPE html>
<html ng-app="TMoohIApp">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>TMoohI Status</title>

	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.css">
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="TMoohIApp.css">
</head>

<body ng-controller="StatusController as statusCtrl">
	<div layout="column" layout-align="center center">
		<div class="logo-container ">
			<div class="logo">TMoohI</div>
			<div class="sublogo">Version {{status.build.data.version}}  -  Build {{status.build.data.build}}</div>
			<div>Uptime: <span time-since="status.since"></span></div>
		</div>
	</div>
	<div layout="column" class="container">
		<div layout="column" flex="100">
			<md-whiteframe class="box md-whiteframe-5dp" flex layout-margin layout-padding>
				<md-subheader class="md-primary" ng-click="collapseFeed=!collapseFeed">Live feed</md-subheader>
				<md-divider></md-divider>
				<div scroll-to-bottom layout-padding id="logger" ng-hide="collapseFeed">
					<div class="logline" ng-repeat="logline in loglines">
						<span class="md-caption loglevel loglevel-{{logline.level | loglevel | lowercase}}">{{logline.level | loglevel}}</span>
						<span class="md-caption logtype logtype-{{logline.type}}">{{logline.type}}</span>
						<span class="md-caption logevent logevent-{{logline.event}}" ng-show="logline.event != undefined">{{logline.event}}</span>
						<span class="md-caption logmessage logmessage-{{logline.type}}">{{logline.message}}</span>
					</div>
				</div>
			</md-whiteframe>
		</div>
		<div layout="column" flex="100">
			<md-tabs md-border-bottom class="box md-whiteframe-5dp" flex layout-margin layout-padding>
				<md-tab label="Channels">
					<md-content layout="row" layout-margin layout-padding>
						<div class="tabcolumn" ng-repeat="(user, info) in status.users" flex="25" layout="column">
							<div class="channels md-title md-primary">{{info.nick}} - Channels</div>
							<div ng-repeat="channel in info.channels" md-button md-ink-ripple ng-click="statusCtrl.selectChannel(channel)" ng-class="{selectedChannel: selectedChannel.id == channel.id}" class="userlistentry">
								<img md-icon ng-repeat="badge in channel.userstate.badges" ng-src="{{channel.badges[badge].image}}" class="center-y"> {{channel.key}} ({{channel.cluster}})
							</div>
						</div>
						<div class="tabcolumn"  flex>
							<div>
								{{selectedChannel}}
							</div>
						</div>
					</md-content>
				</md-tab>
				<md-tab label="Connections">
				</md-tab>
			</md-tabs>
				
				</div>
		</div>
	</div>
	<div layout="row" class="container">

	</div>
	<script src="https://code.jquery.com/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-sanitize.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.js"></script>
	<script src="parseircmessage.js"></script>
	<script src="TMoohIApp.js"></script>
</body>
</html>
